In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
import glob
import xlrd
%matplotlib inline

In [2]:
topdata=pd.read_csv('top20CBSAv2.csv')

In [4]:
topdata.shape

(374843, 54)

In [6]:
topdata.dtypes

Unnamed: 0              int64
y                       int64
yq                     object
ca                    float64
ca_NotNormalized      float64
ia                    float64
ia_NotNormalized      float64
da                    float64
da_NotNormalized      float64
ma                    float64
ma_NotNormalized      float64
appv                  float64
appv_NotNormalized    float64
dr                    float64
toar                  float64
oar                   float64
egi                   float64
egi_NotNormalized     float64
grr                   float64
grr_NotNormalized     float64
noi                   float64
noi_NotNormalized     float64
pgi                   float64
pgi_NotNormalized     float64
oer                   float64
occ                   float64
rcv                   float64
rcv_NotNormalized     float64
rci                   float64
texp                  float64
texp_NotNormalized    float64
premise                 int64
qualifier               int64
interest                int64
proptypem             float64
proptypes             float64
munit                   int64
cbsa                    int64
state                  object
nation                float64
zipcode                 int64
county                float64
lsize                 float64
lsize2                float64
nunits                float64
psize                 float64
psize2                float64
yearb                 float64
bclass                float64
PropertyID              int64
LenderID                int64
propertytypemajor      object
CBSAName               object
MeasureUnit            object
dtype: object

In [10]:
pd.options.display.max_columns=None
display(topdata.head())

,Unnamed: 0,y,yq,ca,ca_NotNormalized,ia,ia_NotNormalized,da,da_NotNormalized,ma,ma_NotNormalized,appv,appv_NotNormalized,dr,toar,oar,egi,egi_NotNormalized,grr,grr_NotNormalized,noi,noi_NotNormalized,pgi,pgi_NotNormalized,oer,occ,rcv,rcv_NotNormalized,rci,texp,texp_NotNormalized,premise,qualifier,interest,proptypem,proptypes,munit,cbsa,state,nation,zipcode,county,lsize,lsize2,nunits,psize,psize2,yearb,bclass,PropertyID,LenderID,propertytypemajor,CBSAName,MeasureUnit
0,1,2010,2010Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,10.0,222.0,1,12060,GA,1.0,30052,13297.0,1.0,NaN,NaN,1686.0,NaN,NaN,NaN,559859,12209,Residential,Atlanta-Sandy Springs-Roswell,SF
1,2,2010,2010Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,10.0,222.0,1,12060,GA,1.0,30656,13297.0,1.0,NaN,NaN,960.0,NaN,NaN,NaN,556239,12209,Residential,Atlanta-Sandy Springs-Roswell,SF
2,3,2010,2010Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,10.0,222.0,1,12060,GA,1.0,31024,13237.0,1.0,NaN,NaN,2080.0,NaN,NaN,NaN,560101,12209,Residential,Atlanta-Sandy Springs-Roswell,SF
3,9,2011,2011Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,10.0,222.0,1,12060,GA,1.0,30655,13297.0,1.0,NaN,NaN,1286.0,NaN,NaN,NaN,570337,12209,Residential,Atlanta-Sandy Springs-Roswell,SF
4,14,2010,2010Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,10.0,222.0,1,12060,GA,1.0,30014,13217.0,1.0,NaN,NaN,946.0,NaN,NaN,NaN,562116,12209,Residential,Atlanta-Sandy Springs-Roswell,SF

In [13]:
#remove null values in appv and noi columns
outlierdata2 = topdata.dropna(subset=['appv_NotNormalized','noi_NotNormalized'],how='any')
outlierdata2.shape

(89865, 54)

In [14]:
#remove 0 values in appv and noi columns
outlierdata2= outlierdata2[(outlierdata2.appv_NotNormalized != 0) & (outlierdata2.noi_NotNormalized!= 0)]
outlierdata2.shape

(88826, 54)

In [15]:
#subset office, multifamily, industrial, Shopping Center, Retail-Commercial, Lodging/Hospitality datasets
officedata=outlierdata2[outlierdata2['propertytypemajor']=='Office']

In [16]:
officedata.to_csv('officedata2.csv')

In [17]:
multidata=outlierdata2[outlierdata2['propertytypemajor']=='Multi-Family']

In [18]:
multidata.to_csv('multidata2.csv')

In [19]:
industrialdata=outlierdata2[outlierdata2['propertytypemajor']=='Industrial']
industrialdata.to_csv('industrialdata2.csv')
shoppingdata=outlierdata2[outlierdata2['propertytypemajor']=='Shopping Center']
shoppingdata.to_csv('shoppingdata2.csv')
retaildata=outlierdata2[outlierdata2['propertytypemajor']=='Retail-Commercial']
retaildata.to_csv('retaildata2.csv')
lodgingdata=outlierdata2[outlierdata2['propertytypemajor']=='Lodging/Hospitality']
lodgingdata.to_csv('lodgingdata2.csv')

In [30]:
#getting the current working diretory
import os
cwd = os.getcwd()
cwd

'C:\\Users\\txia\\Desktop\\EBVision'

In [36]:
#There are only a few special characters: two different wild-cards, and character ranges are supported. 
#The patterns rules are applied to segments of the filename (stopping at the path separator, /). 
#Paths in the pattern can be relative or absolute. Shell variable names and tilde (~) are not expanded.
#This is how you combine multiple Excel sheets into one Excel sheet
all_data=pd.DataFrame()
for f in glob.glob("C:\\Users\\txia\\Desktop\\EBVision\\*data2.csv"):
    df=pd.read_csv(f)
    all_data=all_data.append(df,ignore_index=True)
all_data.to_csv('outlierappv by property type.csv')

In [37]:
import xlrd

In [45]:
xlsx=pd.ExcelFile('outlierappv by property type.xlsx')
df1=pd.read_excel(xlsx,'Office')
df2=pd.read_excel(xlsx,'Multi Family')
df3=pd.read_excel(xlsx,'Industrial')
df4=pd.read_excel(xlsx,'Shopping Center')
df5=pd.read_excel(xlsx,'Retail-Commercial')
df6=pd.read_excel(xlsx,'Lodging,Hospitality')

In [57]:
df1.shape

(7918, 56)

In [47]:
df1=df1.dropna(subset=['oar'],how='any')
df2=df2.dropna(subset=['oar'],how='any')
df3=df3.dropna(subset=['oar'],how='any')
df4=df4.dropna(subset=['oar'],how='any')
df5=df5.dropna(subset=['oar'],how='any')
df6=df6.dropna(subset=['oar'],how='any')

In [48]:
df1=df1[df1.oar != 0]
df2=df2[df2.oar != 0]
df3=df3[df3.oar != 0]
df4=df4[df4.oar != 0]
df5=df5[df5.oar != 0]
df6=df6[df6.oar != 0]

In [50]:
df1['NOIAppvRatio']=df1['noi_NotNormalized']/df1['appv_NotNormalized']
df2['NOIAppvRatio']=df2['noi_NotNormalized']/df2['appv_NotNormalized']
df3['NOIAppvRatio']=df3['noi_NotNormalized']/df3['appv_NotNormalized']
df4['NOIAppvRatio']=df4['noi_NotNormalized']/df4['appv_NotNormalized']
df5['NOIAppvRatio']=df5['noi_NotNormalized']/df5['appv_NotNormalized']
df6['NOIAppvRatio']=df6['noi_NotNormalized']/df6['appv_NotNormalized']

In [51]:
df1['NOIAppvRatio'].describe()

count    7.918000e+03
mean     5.048505e+03
std      4.492244e+05
min     -5.819224e-02
25%      6.556519e-02
50%      7.522616e-02
75%      8.462081e-02
max      3.997340e+07
Name: NOIAppvRatio, dtype: float64

In [53]:
df1['ratediff']=df1['NOIAppvRatio']-df1['oar']
df2['ratediff']=df2['NOIAppvRatio']-df2['oar']
df3['ratediff']=df3['NOIAppvRatio']-df3['oar']
df4['ratediff']=df4['NOIAppvRatio']-df4['oar']
df5['ratediff']=df5['NOIAppvRatio']-df5['oar']
df6['ratediff']=df6['NOIAppvRatio']-df6['oar']

In [13]:
display(df1.shape,
df2.shape,
df3.shape,
df4.shape,
df5.shape,
df6.shape)

(7918, 57)

(12226, 57)

(4346, 57)

(1090, 57)

(9534, 57)

(530, 57)

In [54]:
df1.to_csv('df1.csv')
df2.to_csv('df2.csv')
df3.to_csv('df3.csv')
df4.to_csv('df4.csv')
df5.to_csv('df5.csv')
df6.to_csv('df6.csv')

In [11]:
df1=pd.read_csv('df1.csv')
df2=pd.read_csv('df2.csv')
df3=pd.read_csv('df3.csv')
df4=pd.read_csv('df4.csv')
df5=pd.read_csv('df5.csv')
df6=pd.read_csv('df6.csv')

In [14]:
#remove ratediff outliers
pd.options.display.float_format = '{:.4f}'.format
quartiles1=df1['ratediff'].describe()
quartiles1

count       7918.0000
mean        5047.3057
std       449224.4261
min        -8749.9129
25%           -0.0033
50%           -0.0003
75%            0.0009
max     39973399.9300
Name: ratediff, dtype: float64

In [15]:
q251,q751=quartiles1['25%'],quartiles1['75%']
q251

-0.0033153629536921206

In [16]:
IQR1=q751-q251
IQR1

0.004215608855331473

In [17]:
lowerbound1=q251-3*IQR1
lowerbound1

-0.01596218951968654

In [18]:
upperbound1=q751+3*IQR1
upperbound1

0.013547072467633772

In [19]:
df1.shape

(7918, 57)

In [20]:
df1=df1[df1.ratediff < upperbound1]
df1.shape
df1=df1[df1.ratediff > lowerbound1]
df1.shape

(7069, 57)

In [41]:
pd.options.display.float_format = '{:.4f}'.format
pd.DataFrame(df1['ratediff'].describe())

       ratediff
count 7069.0000
mean    -0.0010
std      0.0044
min     -0.0159
25%     -0.0025
50%     -0.0003
75%      0.0007
max      0.0135

In [44]:
#df2
pd.options.display.float_format = '{:.4f}'.format
quartiles2=df2['ratediff'].describe()
quartiles2

count   9972.0000
mean      -0.0000
std        0.0005
min       -0.0018
25%       -0.0002
50%       -0.0000
75%        0.0001
max        0.0017
Name: ratediff, dtype: float64

In [23]:
q252,q752=quartiles2['25%'],quartiles2['75%']
q252

-0.00029391455273698573

In [24]:
IQR2=q752-q252
IQR2

0.0004960324482822971

In [25]:
lowerbound2=q252-3*IQR2
lowerbound2

-0.001782011897583877

In [26]:
upperbound2=q752+3*IQR2
upperbound2

0.0016902152403922028

In [27]:
df2.shape

(12226, 57)

In [28]:
df2=df2[df2.ratediff < upperbound2]
df2=df2[df2.ratediff > lowerbound2]
df2.shape

(9972, 57)

In [42]:
pd.options.display.float_format = '{:.4f}'.format
pd.DataFrame(df2['ratediff'].describe())

       ratediff
count 9972.0000
mean    -0.0000
std      0.0005
min     -0.0018
25%     -0.0002
50%     -0.0000
75%      0.0001
max      0.0017

In [35]:
#df3
pd.options.display.float_format = '{:.4f}'.format
quartiles3=df3['ratediff'].describe()
q253,q753=quartiles3['25%'],quartiles3['75%']
IQR3=q753-q253
lowerbound3=q253-3*IQR3
upperbound3=q753+3*IQR3
df3=df3[df3.ratediff < upperbound3]
df3=df3[df3.ratediff > lowerbound3]
df3.shape

(3961, 57)

In [45]:
pd.options.display.float_format = '{:.4f}'.format
pd.DataFrame(df3['ratediff'].describe())

       ratediff
count 3961.0000
mean    -0.0015
std      0.0048
min     -0.0176
25%     -0.0030
50%     -0.0003
75%      0.0006
max      0.0144

In [36]:
#df4
pd.options.display.float_format = '{:.4f}'.format
quartiles4=df4['ratediff'].describe()
q254,q754=quartiles4['25%'],quartiles4['75%']
IQR4=q754-q254
lowerbound4=q254-3*IQR4
upperbound4=q754+3*IQR4
df4=df4[df4.ratediff < upperbound4]
df4=df4[df4.ratediff > lowerbound4]
df4.shape

(972, 57)

In [46]:
pd.options.display.float_format = '{:.4f}'.format
pd.DataFrame(df4['ratediff'].describe())

       ratediff
count  972.0000
mean     0.0003
std      0.0023
min     -0.0074
25%     -0.0006
50%      0.0000
75%      0.0011
max      0.0083

In [37]:
#df5
pd.options.display.float_format = '{:.4f}'.format
quartiles5=df5['ratediff'].describe()
q255,q755=quartiles5['25%'],quartiles5['75%']
IQR5=q755-q255
lowerbound5=q255-3*IQR5
upperbound5=q755+3*IQR5
df5=df5[df5.ratediff < upperbound5]
df5=df5[df5.ratediff > lowerbound5]
df5.shape

(7954, 57)

In [47]:
pd.options.display.float_format = '{:.4f}'.format
pd.DataFrame(df5['ratediff'].describe())

       ratediff
count 7954.0000
mean    -0.0002
std      0.0019
min     -0.0063
25%     -0.0006
50%     -0.0000
75%      0.0004
max      0.0057

In [38]:
#df6
pd.options.display.float_format = '{:.4f}'.format
quartiles6=df6['ratediff'].describe()
q256,q756=quartiles6['25%'],quartiles6['75%']
IQR6=q756-q256
lowerbound6=q256-3*IQR6
upperbound6=q756+3*IQR6
df6=df6[df6.ratediff < upperbound6]
df6=df6[df6.ratediff > lowerbound6]
df6.shape

(453, 57)

In [48]:
pd.options.display.float_format = '{:.4f}'.format
pd.DataFrame(df6['ratediff'].describe())

       ratediff
count  453.0000
mean     0.0004
std      0.0034
min     -0.0110
25%     -0.0006
50%      0.0000
75%      0.0014
max      0.0118

In [50]:
df1.head()

,Unnamed: 0,Unnamed: 0.1,y,yq,ca,ca_NotNormalized,ia,ia_NotNormalized,da,da_NotNormalized,...,psize2,yearb,bclass,PropertyID,LenderID,propertytypemajor,CBSAName,MeasureUnit,NOIAppvRatio,ratediff
0,165440,479455,2017,2017Q3,nan,nan,nan,37000000.0000,nan,nan,...,nan,2017.0000,nan,450064,10506,Office,Seattle-Tacoma-Bellevue,SF,0.0537,0.0001
1,165447,479501,2013,2013Q3,nan,nan,nan,nan,nan,nan,...,nan,2008.0000,nan,682177,12110,Office,Los Angeles-Long Beach-Anaheim,SF,0.0671,-0.0029
2,165487,479638,2016,2016Q1,nan,nan,nan,nan,nan,nan,...,8.0000,2008.0000,nan,1705413,83012,Office,Chicago-Naperville-Elgin,SF,0.0875,0.0050
3,165488,479639,2013,2013Q4,nan,nan,nan,nan,nan,nan,...,7520.0000,2008.0000,nan,1702574,83012,Office,Miami-Fort Lauderdale-West Palm Beach,Units,0.0591,-0.0009
4,165511,479774,2013,2013Q3,nan,nan,nan,nan,nan,nan,...,319237.0000,2009.0000,nan,279686,11206,Office,Houston-The Woodlands-Sugar Land,SF,0.0649,-0.0001